# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Work on prefab.iml
# Datasource local storage ignored files
/../../../../../../../:\Users\Arnaud\Work on prefab\.idea\.idea.Work on prefab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
