# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.GUESS OR DIE.iml
# Datasource local storage ignored files
/../../../../../:\GUESS OR DIE\.idea\.idea.GUESS OR DIE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
